%li.message
  .profile-image
    = image_link message.other_person(current_person), :image => :thumbnail, :image_options => { :class => "photo" }
  %p
    %span.label
      Subject:
    = link_to sanitize(message.subject), message
  %p
    = message_icon(message)
    - if current_person?(message.sender)
      %span.label
        To:
      = person_link message.recipient, :class => "url fn"
    - else
      %span.label
        From:
      = person_link message.sender, :class => "url fn"
    %br/
    %span.tools.meta
      Sent
      = time_ago_in_words message.created_at
      ago
      = link_to image_tag("icons/email_edit.png", :class => 'actioner'),  reply_message_path(message), :title => "Reply to this message"
      - unless message.trashed?(current_person)
        = link_to image_tag("icons/email_delete.png", :class => 'actioner'),  message_path(message),  :method => :delete,  :confirm => %(Delete this message?), :title => "Delete this message"
      - else
        = link_to "Untrash", undestroy_message_path(message), :method => :put
  .clear
