- column_div :type => :primary do
  %h2
    Discussion topics
  %ol.list.forum.full
    = render :partial => 'topics/topic', :collection => @topics
  = will_paginate(@topics)
  - if logged_in?
    %h2
      New Topic
    - form_for :topic, :url => forum_topics_path(@forum) do |f|
      .form_row
        = f.label :name, "Subject"
        = f.text_field :name
        = f.submit "Start", :class => "button"
- column_div :type => :secondary do
  = render :partial => 'searches/box'
  = render :partial => 'shared/minifeed'
