- unless @requested_contacts.empty?
  %h2
    Contact Requests
  %ul.list.requests.small
    - @requested_contacts.each do |contact|
      - conn = Connection.conn(current_person, contact)
      %li
        .profile-image
          = image_link contact
        %p
          = person_link contact
        %p.meta.published
          = time_ago_in_words(conn.created_at)
          ago
        %p
          = link_to "Respond", edit_connection_path(conn)
          |
          = link_to "View profile", contact
